<div class="about-company-in-numbers-section section">
  <div class="wrapper">
    <h2 class="section-title title">О компании в цифрах</h2>
    <div class="about-company-content">
      <div class="about-company-block">
        <div class="about-company-img">
          <object type="image/svg+xml" data="/images/strategy.svg" width="96" height="31">
            <img src="/images/strategy.png" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info">
          <h3 class="about-company-title">142 успешных проекта</h3>
          <p class="about-company-text">Не большое описание доля каких компаний делали или что-то такое</p>
        </div>
      </div>
      <div class="about-company-block">
        <div class="about-company-img">
          <object type="image/svg+xml" data="/images/give.svg" width="96" height="31">
            <img src="/images/give.png" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info">
          <h3 class="about-company-title">74 довольных клиента</h3>
          <p class="about-company-text">Не большое описание доля каких компаний делали или что-то такое</p>
        </div>
      </div>
      <div class="about-company-block">
        <div class="about-company-img">
          <object type="image/svg+xml" data="/images/new-year.svg" width="96" height="31">
            <img src="/images/new-year.png" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info">
          <h3 class="about-company-title">7 лет на рынке</h3>
          <p class="about-company-text">Не большое описание доля каких компаний делали или что-то такое</p>
        </div>
      </div>
      <div class="about-company-block">
        <div class="about-company-img">
          <object type="image/svg+xml" data="/images/team.svg" width="96" height="31">
            <img src="/images/team.png" width="59" height="59" />
          </object>
        </div>
        <div class="about-company-info">
          <h3 class="about-company-title">42 человека в команде</h3>
          <p class="about-company-text">Не большое описание доля каких компаний делали или что-то такое</p>
        </div>
      </div>
    </div>
  </div>
</div>
