<div class="about-us-section section">
  <div class="wrapper">
    <div class="about-us-bg">
      <img src="../../images/about-us-section-bg.png" alt="">
    </div>
    <div class="about-us-content">
      <h2 class="section-title title">О компании</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut dolorem excepturi explicabo iste laborum nobis nostrum quo unde voluptas! Id ipsa laboriosam nam placeat quam quasi recusandae, similique unde.A est fugit minima tempore. Autem, dicta distinctio eos explicabo fugiat id illo laborum, maxime mollitia, nostrum pariatur placeat praesentium quaerat quidem soluta! Amet atque, est nulla sed sint velit?Amet dolore eveniet excepturi minima mollitia neque nostrum odit porro quaerat quos reiciendis rerum, velit. Alias culpa debitis delectus earum nostrum. Accusamus blanditiis debitis dolore ex optio pariatur perspiciatis, quam. A est fugit minima tempore. Autem, dicta distinctio eos explicabo fugiat id illo laborum, maxime mollitia, nostrum pariatur placeat praesentium quaerat quidem soluta! Amet atque, est nulla sed sint velit?Amet dolore eveniet excepturi minima mollitia neque nostrum odit porro quaerat quos reiciendis rerum, velit. Alias culpa debitis delectus earum nostrum. Accusamus blanditiis debitis dolore ex optio pariatur perspiciatis, quam.</p>
      <button class="button red">Читать больше о нас</button>
    </div>
  </div>
</div>
