<div class="customers-section section">
  <div class="wrapper">
    <div class="customers-content">
      <h2 class="section-title title">Клиенты</h2>
      <div class="customers-slider">
        <div class="slider-item">
          <div class="slider-item-img">
            <img src="/images/client-slider-img-1.png" alt="">
          </div>
          <div class="slider-item-content">
            <h5 class="block-title title">Глобал консалтинг "Финансовая поддержка"</h5>
            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
            <div class="slider-item-stars">
              <img src="../../images/stars.png" class="star" alt="">
            </div>
          </div>
        </div>
        <div class="slider-item">
          <div class="slider-item-img">
            <img src="/images/client-slider-img-2.png" alt="">
          </div>
          <div class="slider-item-content">
            <h5 class="block-title title">Глобал консалтинг "Финансовая поддержка"</h5>
            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
            <div class="slider-item-stars">
              <img src="../../images/stars.png" class="star" alt="">
            </div>
        </div>
        </div>
        <div class="slider-item">
          <div class="slider-item-img">
            <img src="/images/client-slider-img-3.png" alt="">
          </div>
          <div class="slider-item-content">
            <h5 class="block-title title">Глобал консалтинг "Финансовая поддержка"</h5>
            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
            <div class="slider-item-stars">
              <img src="../../images/stars.png" class="star" alt="">
            </div>
        </div>
      </div>
        <div class="slider-item">
          <div class="slider-item-img">
            <img src="/images/client-slider-img-1.png" alt="">
          </div>
          <div class="slider-item-content">
            <h5 class="block-title title">Глобал консалтинг "Финансовая поддержка"</h5>
            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
            <div class="slider-item-stars">
              <img src="../../images/stars.png" class="star" alt="">
            </div>
          </div>
        </div>
        <div class="slider-item">
          <div class="slider-item-img">
            <img src="/images/client-slider-img-2.png" alt="">
          </div>
          <div class="slider-item-content">
            <h5 class="block-title title">Глобал консалтинг "Финансовая поддержка"</h5>
            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
            <div class="slider-item-stars">
              <img src="../../images/stars.png" class="star" alt="">
            </div>
          </div>
        </div>
        <div class="slider-item">
          <div class="slider-item-img">
            <img src="/images/client-slider-img-3.png" alt="">
          </div>
          <div class="slider-item-content">
            <h5 class="block-title title">Глобал консалтинг "Финансовая поддержка"</h5>
            <p>Была оказана услуга налогового и кадрового консалтинга.</p>
            <div class="slider-item-stars">
              <img src="../../images/stars.png" class="star" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</div>
