<div class="loans-for-any-purpose-section section">
  <div class="wrapper">
    <h2 class="section-title title">Кредиты на любые цели</h2>
    <div class="loans-content">
      <div class="loans-content-block fade-1">
        <div class="loans-block-img animate-it animate-delay">
          <div class="scroll-line"></div>
          <img src="/images/loans-for-any-purpose-section-img-1.png" alt="">
        </div>
        <div class="loans-block-info">
          <div class="loans-block-number">--- 01 / 04</div>
          <h4 class="block-title title">Не длинное название услуги</h4>
          <p class="loans-block-text">Не большое описание доля каких компаний делали или что-то такое. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aspernatur consectetur dolor ducimus ea esse eum explicabo fuga, hic laborum, molestiae, officiis perspiciatis quam rerum? Eius eveniet laborum quisquam.Aliquid aspernatur aut autem debitis dolore dolores esse expedita facilis fugiat, hic id illum ipsa ipsam libero maiores molestias numquam porro quaerat, quas saepe soluta tenetur unde vel veritatis voluptatibus.</p>
          <button class="button yellow">Читать полностью</button>
        </div>
      </div>
      <div class="loans-content-block fade-2">
        <div class="loans-block-img animate-it animate-delay">
          <div class="scroll-line"></div>
          <img src="/images/loans-for-any-purpose-section-img-2.png" alt="">
        </div>
        <div class="loans-block-info">
          <div class="loans-block-number">--- 02 / 04</div>
          <h4 class="block-title title">Не длинное название услуги</h4>
          <p class="loans-block-text">Не большое описание доля каких компаний делали или что-то такое. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aspernatur consectetur dolor ducimus ea esse eum explicabo fuga, hic laborum, molestiae, officiis perspiciatis quam rerum? Eius eveniet laborum quisquam.Aliquid aspernatur aut autem debitis dolore dolores esse expedita facilis fugiat, hic id illum ipsa ipsam libero maiores molestias numquam porro quaerat, quas saepe soluta tenetur unde vel veritatis voluptatibus.</p>
          <button class="button yellow">Читать полностью</button>
        </div>
      </div>
      <div class="loans-content-block fade-3">
        <div class="loans-block-img animate-it animate-delay">
          <div class="scroll-line"></div>
          <img src="/images/loans-for-any-purpose-section-img-3.png" alt="">
        </div>
        <div class="loans-block-info">
          <div class="loans-block-number">--- 03 / 04</div>
          <h4 class="block-title title">Не длинное название услуги</h4>
          <p class="loans-block-text">Не большое описание доля каких компаний делали или что-то такое. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aspernatur consectetur dolor ducimus ea esse eum explicabo fuga, hic laborum, molestiae, officiis perspiciatis quam rerum? Eius eveniet laborum quisquam.Aliquid aspernatur aut autem debitis dolore dolores esse expedita facilis fugiat, hic id illum ipsa ipsam libero maiores molestias numquam porro quaerat, quas saepe soluta tenetur unde vel veritatis voluptatibus.</p>
          <button class="button yellow">Читать полностью</button>
        </div>
      </div>
      <div class="loans-content-block fade-4">
        <div class="loans-block-img animate-it animate-delay">
          <div class="scroll-line"></div>
          <img src="/images/loans-for-any-purpose-section-img-4.png" alt="">
        </div>
        <div class="loans-block-info">
          <div class="loans-block-number">--- 04 / 04</div>
          <h4 class="block-title title">Более длинное название услуги с продолжением на вторую строчку</h4>
          <p class="loans-block-text">Не большое описание доля каких компаний делали или что-то такое. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto aspernatur consectetur dolor ducimus ea esse eum explicabo fuga, hic laborum, molestiae, officiis perspiciatis quam rerum? Eius eveniet laborum quisquam.Aliquid aspernatur aut autem debitis dolore dolores esse expedita facilis fugiat, hic id illum ipsa ipsam libero maiores molestias numquam porro quaerat, quas saepe soluta tenetur unde vel veritatis voluptatibus.</p>
          <button class="button yellow">Читать полностью</button>
        </div>
      </div>
    </div>
  </div>
</div>
