<div class="services-and-solutions-section section">
 <div class="wrapper">
   <div class="section-title title">Услуги и решения</div>
   <div class="services-and-solutions-slider">
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="/images/services-img-1.png" alt="">
       </div>
       <div class="slider-item-content">
         <h3 class="slider-item-title title">Аудиторские услуги</h3>
         <ul class="slider-item-link-list">
           <li><a href="">Аудит финансовой отчетности</a></li>
           <li><a href="">Сопутствующие аудиторские услуги</a></li>
         </ul>
       </div>
       <button class="button black">Заказать</button>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="/images/services-img-2.png" alt="">
       </div>
       <div class="slider-item-content">
         <h3 class="slider-item-title title">Налоговый консалтинг</h3>
         <ul class="slider-item-link-list">
           <li><a href="">Налоговые консультации</a></li>
           <li><a href="">Консультации по бухгалтерскому отчету</a></li>
           <li><a href="">Бухгалтерский клуб</a></li>
           <li><a href="">Семинары</a></li>
         </ul>
       </div>
       <button class="button black">Заказать</button>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="/images/services-img-3.png" alt="">
       </div>
       <div class="slider-item-content">
         <h3 class="slider-item-title title">Кадровый консалтинг</h3>
         <ul class="slider-item-link-list">
           <li><a href="">Кадровый аудит</a></li>
           <li><a href="">Подбор персонала</a></li>
         </ul>
       </div>
       <button class="button black">Заказать</button>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="/images/services-img-4.png" alt="">
       </div>
       <div class="slider-item-content">
         <h3 class="slider-item-title title">Юридические услуги</h3>
         <ul class="slider-item-link-list">
           <li><a href="">Юридические консультации</a></li>
           <li><a href="">Создание бизнеса</a></li>
           <li><a href="">Регистрация юридического лица</a></li>
           <li><a href="">Смотреть весь список</a></li>
         </ul>
       </div>
       <button class="button black">Заказать</button>
     </div>
     <div class="slider-item">
       <div class="slider-item-img">
         <img src="/images/services-img-4.png" alt="">
       </div>
       <div class="slider-item-content">
         <h3 class="slider-item-title title">Юридические услуги</h3>
         <ul class="slider-item-link-list">
           <li><a href="">Юридические консультации</a></li>
           <li><a href="">Создание бизнеса</a></li>
           <li><a href="">Регистрация юридического лица</a></li>
           <li><a href="">Смотреть весь список</a></li>
         </ul>
       </div>
       <button class="button black">Заказать</button>
     </div>
   </div>
   <div class="services-and-solutions-all-solutions">
     <button class="button red">Все услуги</button>
   </div>
 </div>
</div>
<button type="button" data-role="none" class="slick-prev slick-arrow slick-disabled" aria-label="Previous" role="button" aria-disabled="true" style="display: block;"></button>

<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;" aria-disabled="false"></button>

<ul class="slick-dots" style="display: block;" role="tablist">…</ul>
