<div class="top-section section">
  <div class="top-section-slider">
    <div class="slider-item">
      <img src="/images/top-section-slide-img.png" alt="">
    </div>
    <div class="slider-item">
      <img src="/images/top-section-slide-img.png" alt="">
    </div>
    <div class="slider-item">
      <img src="/images/top-section-slide-img.png" alt="">
    </div>
    <div class="slider-item">
      <img src="/images/top-section-slide-img.png" alt="">
    </div>
    <div class="slider-item">
      <img src="/images/top-section-slide-img.png" alt="">
    </div>
    <div class="slider-item">
      <img src="/images/top-section-slide-img.png" alt="">
    </div>
  </div>
  <div class="wrapper top-section-wrapper">
      <div class="desktop-main-menu">
        <div class="main-menu">
          <a href=""><span>Кадровый консалтинг</span></a>
          <a href=""><span>Налоговый консалтинг</span></a>
          <a href=""><span>Аудиторские услуги</span></a>
        </div>
      </div>
    <div class="top-section-content">
      <div class="top-section-propositions">
        <div class="top-section-proposition-block">
          <h2 class="propositions-title title">Доход</h2>
          <p>Проанализируем, куда вложить свои свободные средства для получения пасивного дохода <span></span></p>
        </div>
        <div class="top-section-proposition-block">
          <h2 class="propositions-title title">Кредиты</h2>
          <p>Поможем быстрее и эффективнее избавится от долгов и кредитов<span></span></p>
        </div>
        <div class="top-section-proposition-block">
          <h2 class="propositions-title title">Партнеры</h2>
          <p>Найдем для вас самые выгодные партнерские проекты, участвуя в которых, вы также сможете получать хороший доход<span></span></p>
        </div>
          <div class="top-section-proposition-block">
          <h2 class="propositions-title title">Финансы</h2>
          <p>Решим любые финансовые вопросы<span></span></p>
        </div>
      </div>
      <div class="top-section-request">
        <h1>Масштабируем<br/> ваши возможности</h1>
        <form action="" class="request-form">
          <input type="text" placeholder="Введите имя" required>
          <input type="tel" class="tel tel-mask" placeholder="Телефон" name="ph" required data-rule-required="true" data-rule-minlength="10" data-msg="Телефон">
          <button type="submit" class="button yellow">Оставить заявку</button>
          <p>Отправляя форму, Вы соглашаетесь на политику обработки персональных данных</p>
          <p class="errorText">Поля форм пустые или заполненые неверно</p>
        </form>
        <div class="slider-buttons">
          <button class="slider-arrow slider-prev"></button>
          <button class="slider-arrow slider-next"></button>
        </div>
      </div>
    </div>
  </div>
</div>
