@import './variables.scss';

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1;}
img{vertical-align:bottom;border:0;max-width:100%;}
ul{list-style: none; padding: 0}
a{text-decoration: none; font-family: Futura PT; &:hover{text-decoration: underline}}
p{font-size: 16px; line-height: 31px; font-weight: 300;}

path{
  fill:none;
  stroke:black;
  pointer-events:all;
}

/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* wraps styling*/

.mbox{max-width:1024px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/

.footer_placeholder{height: 200px;}
.footer{width:89%;margin-left: 11%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

/*fonts*/

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face('Futura PT', 'FuturaPTDemi', 300, normal);
@include font-face('Futura PT', 'FuturaPTMedium', 500, normal);
@include font-face('Futura PT', 'FuturaPTBook', normal, normal);
@include font-face('Futura PT', 'FuturaPTBold', 800, normal);
/* /fonts*/



/* /base styles*/

.main{
           &>.slick-arrow{display: none !important}
           &>.slick-dots{display: none !important}
}

.wrapper{max-width: 1260px;margin: 0 auto}

.section{width: 89%;position: relative;margin-left: 11%;padding: 0 1%;
           @media screen and (max-width: 1280px){width: 86%;margin-left: 14%}
           @media screen and (max-width: 1024px){margin-left: 0;width: 100%}
           .section-title{line-height: 46px;text-align: center;font-size: 34px;color: $black;margin: 80px 0 40px 0;
                      @media screen and (max-width: 1280px){font-size: 30px}
                      @media screen and  (max-width:666px){font-size: 24px}
           }
}
.title{font-family: Futura PT;font-weight: 300;text-transform: uppercase}
.slick-slider{
           &.slick-dotted{margin: 0}
                      .slick-prev, .slick-next{background: $yellow;top: 2%;width: 40px;height: 40px;z-index: 10;transition: all 0.2s ease-in;
                                 &:hover{background: $light-red}
                                 &:before{display: inline-block;background-position: center;background-repeat: no-repeat;content: '';width: 40px;height: 40px;}
                                 &.slick-disabled{background: $light-grey;
                                            &:before{opacity: 1}
                                 }
                      }
           .slick-prev {right: 4%;left: auto;
                      &:before{background-image: url(../images/arrow-prev.png)}
           }
           .slick-next {right:0;
           &:before{background-image: url(../images/arrow-next.png)}
           }
           .slick-dots{bottom: auto;top: 0;z-index: 5;
                      li{
                                 button{
                                            &:before{font-family: 'slick';font-size: 50px;line-height: 20px;position: absolute;top: 0;left: 0;width: 20px;height: 20px;content: '•';text-align: center;opacity: .5;color: $grey;-webkit-font-smoothing: antialiased;
                                            }
                                 }
                      }
                      .slick-active{
                                 button:before{opacity: 1;color: $yellow}
                      }
           }
           @media screen and (max-width: 1280px){
                      .slick-prev, .slick-next{width: 30px;height: 30px;
                                 &:before{display: inline-block;transform: scale(0.7);width: 30px;height: 30px}
                      }
                      .slick-prev{right: 4%}
                      .slick-next{right:0}
                      .slick-dots{
                                 li{
                                            button:before{font-size: 35px}
                                 }
                      }
           }
           @media screen and (max-width: 1024px){
                      .slick-prev{left: 0}
           }
}

/* ctext*/
    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext*/

/* styles for wp-admin panel*/
body{
    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }
}
@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
 /* /styles for wp-admin panel*/

/*End Layout*/

