
@import '../variables.scss';

.button{
  border-radius: 2px;
  transition: all 0.2s ease-in;
  border: none;
  font-family: Futura PT;
  line-height: 34px;
  padding: 13px 72px;

  &.yellow{
    background: $yellow;
    color: $black;
    
    &:hover{
      background: $light-red;
      color: $white;
    }
  }
  
  &.black{
    background: $black;
    color: $white;
    
    &:hover{
      color: $black;
      background: $yellow
    }
  }

  &.red{
    background: $light-red;
    color: $white;
    
    &:hover{
      color: $white;
      background: $black;
    }
  }
}
