@import './../variables.scss';

.footer {padding: 0 1%}

.footer-top{display: flex;flex-flow: row nowrap;justify-content: space-between;align-items: flex-start;margin-top: 5%;
        .footer-menu{display: flex;justify-content: space-between;width: 82%;padding: 0 1%;
                ul{margin: 0}
                .footer-menu-category{
                        .title{margin: 0;line-height: 41px;font-size: 14px;color: $medium-grey}
                        a{font-size: 11px;line-height: 27px;color: $dark-grey}
                }
                .footer-menu-navigation{
                        a{color: $light-red;letter-spacing: 0.6px;text-transform: uppercase;font-size: 14px;font-weight: 300;line-height: 41px}
                }
        }
        .footer-social{width: 12%;display: flex;flex-flow: column nowrap;align-items: center;
                .logo{margin: 4% 0 20% 0;
                        object{max-width: 100%}
                }

                .footer-social-content{display: flex;align-items: center;justify-content: space-between;width: 100%;
                        .social{border-radius: 50%;width: 40px;height: 40px;background-position: center;background-repeat: no-repeat;background-color: $dark-white;
                        &:hover{background-position: center;background-repeat: no-repeat;background-color: $yellow}
                                &.social-vk{background-image: url("../../images/vk-logo.png");
                                        &:hover{background-image: url("../../images/vk-white.png")}
                                }
                                &.social-inst{background-image: url("../../images/inst.png");
                                        &:hover{background-image: url("../../images/inst-white.png")}
                                }
                                &.social-fb{background-image: url("../../images/fb.png");
                                        &:hover{background-image: url("../../images/fb-white.png")}
                                 }
                        }
                }
        }
}

.footer-bottom{display: flex;flex-flow: row nowrap;justify-content: space-between;align-items: center;color: $black;margin: 80px 0 40px 0;font-size: 14px; a{color: $black}
        p{font-size: 14px;font-weight: 600}
}

@media screen and (max-width: 1280px){
        .footer{width: 86%;margin-left: 14%}
        .footer-top{
                .footer-menu{width: 86%;
                        .footer-menu-category{
                                .title{line-height: 31px;font-size: 12px}
                                a{font-size: 10px;line-height: 22px}
                        }
                        .footer-menu-navigation{
                                a{font-size: 12px;line-height: 31px}
                        }
                }
                .footer-social{width: 14%}
        }
        .footer-bottom{font-size: 12px;
                p{font-size: 12px}
        }
}

@media screen and (max-width: 1024px){
        .footer {width: 100%;margin-left: 0}
        .footer-top{flex-flow: column nowrap;
                .footer-menu{width: 100%}
                .footer-social{width: 100%;
                        .logo{margin: 4% 0 2% 0}
                        .footer-social-content{justify-content: center;
                                .social{width: 60px;height: 60px}
                        }
                }
        }
        .footer-bottom{margin: 30px 0 20px 0}
}

@media screen and (max-width: 767px){
        .footer-top{
                .footer-menu{
                        .footer-menu-category{display: none}
                         .footer-menu-navigation{width: 100%;display: flex;flex-flow: row nowrap;justify-content: space-between}
                }
                .footer-social{margin-top: 20px}
        }
        .footer-bottom{flex-flow: column nowrap;
                a{margin: 10px}
        }
}

@media screen and (max-width: 435px){
        .footer-top{
                .footer-menu{
                        .footer-menu-navigation{flex-flow: column nowrap; align-items: center}
                }
        }
}
