@import './../variables.scss';

.header-l-menu{background: $dark-brown;width: 11%;height: 100vh;position: fixed;top: 0;left: 0;z-index: 1000;padding: 25px 30px 25px 38px;color: $white;box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);display: flex;flex-flow: column nowrap;justify-content: space-between;font-family: Futura PT;
        a{color: $white;transition: all 0.5s linear;
                 &:hover{color: $yellow}
        }
        .logo{display: flex;flex-flow: column nowrap;height: 4%;
                object{max-width: 100%}
        }
        .l-menu{display: flex;flex-flow: column nowrap;height: 80%;margin-top: 6vh;justify-content: flex-start;align-items: flex-start;line-height: 50px;
                a{height: 6%;border-bottom: 1px solid transparent;margin-bottom: 8%;
                        &:hover{border-bottom: 1px solid $yellow;text-decoration: none;}
                }
                a:nth-of-type(2){position: relative;
                        span{background-image: url(../../images/arrow-next.png);background-position: 50% 80%;background-repeat: no-repeat;transform: scale(0.5) translate(30%,50%);display: inline-block;width: 10px; height: 14px; transition: all 0.5s linear;}
                        &:hover span{background-image: url(../../images/top-section-proposition-arrow.png)}
                }
        }

        .class-services-active{position: absolute;width: 100%;background: $yellow;font-size: 16px;font-weight: normal;left: 0;top: 17.8vh;padding: 16px 15px 16px 38px;display: none;cursor: default;
        }

        .l-menu-subitems{
                .l-menu-tel{font-size: 0.79vw;line-height: 21px;
                  &:hover{text-decoration: none}
                  &:hover span{text-decoration: underline;width: 100%;}
                }
                .l-menu-address{font-size: 0.59vw;line-height: 16px}
        }
}

.header-services{background: $black;position: fixed;margin-left: 11%;z-index: 2000;width: 40%;height: 100vh;padding: 25px 30px 25px 38px;border-left: 1px solid $yellow;display: none;font-family: Futura PT;
        .close{color: $medium-grey;text-align: right;cursor: pointer;text-transform: uppercase;font-weight: normal;font-size: 15px;
      
            &:hover{color: $light-grey}
        }
        .header-services-content{display: flex;flex-flow: row wrap;justify-content: space-between;padding-top: 3vh;
            ul {width: 48%}

            a{color: $white;line-height: 30px;font-size: 14px}

            .services-content-title{margin-top: 28px;
              a{color: $yellow;text-transform: uppercase;font-size: 16px;font-weight: 300}
            }
        }
}

.header-l-menu-mobile{display: none}

@media screen and (max-width: 1440px){
        .header-l-menu{padding: 20px 20px 20px 30px;
        .class-services-active{padding: 14px 15px 14px 30px;top: 18vh}
        .l-menu-subitems {
              .l-menu-tel {line-height: 10px;font-size: 11px}
              .l-menu-address{font-size: 11px}
              }
        }

        .header-services{
            .close{font-size: 14px}
            .header-services-content{
              ul {width: 49%}
              a{font-size: 12px}
              &.services-content-title a{font-size: 14px}
              }
        }
}

@media screen and (max-width: 1280px){
        .header-l-menu{width: 14%;
                .l-menu{font-size: 17px}
                .class-services-active{font-size: 17px;padding: 2vh 15px 2vh 30px}
                .l-menu-subitems {
                        .l-menu-tel {line-height: 10px;font-size: 14px}
                        .l-menu-address{font-size: 12px}
                }
        }
        .header-services{padding: 20px 14px 20px 20px;
                .close{font-size: 13px}
                .header-services-content{
                        a{font-size: 11px;line-height: 25px}
                        .services-content-title a{font-size: 12px}
                }
        }
}

@media screen and (max-width: 1155px){
        .header-l-menu{padding: 20px 14px 20px 20px;
                .l-menu{font-size: 14px}
                .class-services-active{padding-left: 20px;font-size: 14px;
                }
        }
}

@media screen and (max-width: 1024px) {
        .header{position: sticky; top:0;z-index: 2000;}
        .header-l-menu {display: none}
        .header-l-menu-mobile {display: flex;background: $dark-brown;width: 100%;height: 10vh;position: relative;padding: 10px;box-shadow: none;flex-flow: row nowrap;justify-content: space-between;align-items: center;font-family: Futura PT;
                a {color: $white;
                        &:hover {color: $yellow}
                }
                .l-menu-open-btn{height: auto;font-size: 4vh;padding: 1%;border: 1px solid $white;display: block;
                        &:hover{text-decoration: none;color: $white;}
                        &.active{border: 1px solid $yellow;color: $yellow;}
                }
                .l-menu-mobile{display: none;position: absolute;border-top: 1px solid $yellow;width: 30%;top: 10vh;height: 90vh;left: 0;color: $white;background: $dark-brown;padding: 25px 30px 25px 38px;flex-flow: column nowrap;justify-content: space-between;
                        &.active{display: flex}
                        .l-menu{display: flex;flex-flow: column nowrap;justify-content: flex-start;align-items: flex-start;line-height: 4vw;
                                 a{border-bottom: 1px solid transparent;margin-bottom: 8%;font-size: 3vw;
                                         &:hover{border-bottom: 1px solid $yellow;text-decoration: none}
                                 }
                                 a:nth-of-type(2){position: relative;
                                          span{background-image: url(../../images/arrow-next.png);background-position: 50% 80%;background-repeat: no-repeat;transform: scale(0.5) translate(100%,0.1vw);display: inline-block;width: 10px; height: 14px; transition: all 0.5s linear;
                                          }
                                          &:hover span{background-image: url(../../images/top-section-proposition-arrow.png)}
                                 }

                        }
                        .l-menu-subitems {
                                   .l-menu-tel {line-height: 2.5vw;font-size: 2vw;
                                           &:hover {text-decoration: none;
                                                   &:hover span {text-decoration: underline;width: 100%}
                                           }
                                   }
                                   .l-menu-address {font-size: 1.7vw;line-height: 2.1vw}
                        }
                        .logo {display: flex;flex-flow: column nowrap;
                                object {max-width: 100%}
                        }
                }
        }
        .header-services{overflow-y: scroll;width: 100%;margin: 0;z-index: 3000;padding: 25px 20px 55px 38px;border-left: none;border-top: 1px solid $yellow;
                .close{font-size: 15px}
                .header-services-content{padding-top: 0;
                        a{line-height: 30px;font-size: 13px}
                        .services-content-title{margin-top: 18px;
                                 a{font-size: 16px}
                        }
                }
        }
}

@media screen and (max-width: 767px){
        .header-l-menu-mobile {
                .l-menu-mobile{
                        .l-menu{
                                a:nth-of-type(2){
                                        span{transform: scale(0.5) translate(100%,0.5vw)}
                                }

                        }
                }
        }
        .header-services{margin-left: 0;z-index: 3000;width: 100%;border-left: none;border-top: 1px solid $yellow;
                .header-services-content{
                        .services-content-title{margin-top: 12px;
                                a{font-size: 13px}
                        }
                        a{line-height: 26px;font-size: 12px}
                }
        }
}

@media screen and (max-width: 666px){
        .header-l-menu-mobile {
                .l-menu-mobile{width: 100%;
                        .l-menu{line-height: 40px;align-items: center;
                                a{font-size: 25px}
                        }
                        .l-menu-subitems{text-align: center;
                                .l-menu-tel{line-height: 20px;font-size: 20px}
                                .l-menu-address{font-size: 18px;line-height: 20px}
                        }
                }
        }
}

@media screen and (max-width: 522px){
        .header-services{border-left: none;padding: 25px 20px 55px 38px;
                .header-services-content{flex-flow: column nowrap;align-items: flex-start;
                        ul{width: auto;margin: 0;
                                &:last-child{margin-bottom: 60px}
                        }
        .services-content-title{margin-top: 40px}
              }
        }
}
