<!-- FOOTER -->
<footer class="footer">
  <div class="wrapper">
    <div class="footer-top">
      <div class="footer-menu">
        <ul class="footer-menu-category">
          <li><h4 class="title">Налоговый консалтинг</h4></li>
          <li><a href="">Налоговые консультации</a></li>
          <li><a href="">Консультации по бухгалтерскому отчету</a></li>
          <li><a href="">Бухгалтерский клуб</a></li>
          <li><a href="">Семинары</a></li>
          <li><h4 class="title">Аудиторские услуги</h4></li>
          <li><a href="">Аудит финансовой отчетности</a></li>
          <li><a href="">Сопутствующие аудиторские услуги</a></li>
        </ul>
        <ul class="footer-menu-category">
          <li><h4 class="title">Юридические услуги</h4></li>
          <li><a href="">Юридические консультации</a></li>
          <li><a href="">Создание бизнеса</a></li>
          <li><a href="">Регистрация юридического лица</a></li>
          <li><a href="">Регистрация ФЛЛ</a></li>
          <li><a href="">Внесмение изменений</a></li>
          <li><a href="">Регистрация торговой марки</a></li>
        </ul>
        <ul class="footer-menu-category">
          <li><h4 class="title">Бухгалтерский аутсорсинг</h4></li>
          <li><a href="">Введение бухгалтерского учета у юр.лиц</a></li>
          <li><a href="">Введение бухгалтерского учета у ФЛЛ</a></li>
          <li><a href="">Востановление бухгалтерского учета</a></li>
          <li><a href="">Реорганизация предприятия</a></li>
          <li><a href="">Ликвидация предприятия</a></li>
          <li><a href="">Ликвидация ФЛЛ</a></li>
          <li><a href="">Составление и правовой анализ договоров</a></li>
          <li><a href="">Представительство в суде</a></li>
        </ul>
        <ul class="footer-menu-category">
          <li><h4 class="title">Кадровый консалтинг</h4></li>
          <li><a href="">Кадровый аудит</a></li>
          <li><a href="">Подбор персонала</a></li>
        </ul>
        <ul class="footer-menu-navigation">
          <li><a href="">Главная</a></li>
          <li><a href="">О компании</a></li>
          <li><a href="">Услуги</a></li>
          <li><a href="">Новости</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <a class="logo" href="/">
          <object type="image/svg+xml" data="/images/logo-footer.svg" width="126" height="31">
            <img src="/images/logo-footer.png" width="126" height="31" />
          </object>
        </a>
        <div class="footer-social-content">
          <a class="social social-vk" href="/"></a>
					<a class="social social-inst" href="/"></a>
					<a class="social social-fb" href="/"></a>
					</div>
				</div>
			</div>
    <div class="footer-bottom">
      <p>Tehno.K 2018 (c)</p>
      <a href="">Политика конфиденциальности</a>
      <a href="http://sheep.fish" target="_blank"><span>Разработка и поддержка: SheepFish</span></a>
    </div>
  </div>

	</footer>
	<!-- /FOOTER -->
