<!-- HEADER -->
<header class="header">
  <div class="header-l-menu">
    <a class="logo" href="/">
      <object type="image/svg+xml" data="/images/logo.svg" width="116" height="31">
        <img src="/images/logo.png" width="116" height="31" />
      </object>
    </a>
    <div class="l-menu">
      <a href="">О компании</a>
      <a href="javascript: void(0)" class="services">Услуги<span></span></a>
      <a href="">Новости</a>
      <a href="">Контакты</a>
    </div>
    <div class="class-services-active">Услуги</div>
    <div class="l-menu-subitems">
      <a href="callto:+7 565 565-65-65" class="l-menu-tel">+7 565 565-65-65 <span>Заказать звонок</span></a>
      <p class="l-menu-address">
        <b>Офис в Москве:</b><br/>ул. Карла Маркса 51, кабинет 265
      </p>
    </div>
  </div>
  <div class="header-l-menu-mobile">
    <a class="logo" href="/">
      <object type="image/svg+xml" data="/images/logo.svg" width="116" height="31">
        <img src="/images/logo.png" width="116" height="31" />
      </object>
    </a>
    <a href="javascript: void(0)" class="l-menu-open-btn">☰</a>
    <div class="l-menu-mobile">
      <div class="l-menu">
        <a href="">О компании</a>
        <a href="javascript: void(0)" class="services">Услуги<span></span></a>
        <a href="">Новости</a>
        <a href="">Контакты</a>
      </div>
      <div class="l-menu-subitems">
        <a href="callto:+7 565 565-65-65" class="l-menu-tel">+7 565 565-65-65 <span>Заказать звонок</span></a>
        <p class="l-menu-address">
          <b>Офис в Москве:</b><br/>ул. Карла Маркса 51, кабинет 265
        </p>
      </div>
    </div>
  </div>
  <div class="header-services">
    <div class="close">Закрыть</div>
    <div class="header-services-content">
      <ul>
        <li class="services-content-title"><a href="">Аудиторские услуги ＋</a></li>
        <li><a href="">Аудит финансовой отчетности</a></li>
        <li><a href="">Сопутствующие аудиторские услуги</a></li>
        <li><a href="">DUE DIKIGENCE</a></li>
      </ul>
      <ul>
        <li class="services-content-title"><a href="">Бухгалтерский аутсорсинг ＋</a></li>
        <li><a href="">Ведение бухгалтерского учета юр.лиц</a></li>
        <li><a href="">Ведение бухгалтерского учета у ФЛЛ</a></li>
        <li><a href="">Востановление бухгалтерского учета</a></li>
      </ul>
      <ul>
        <li class="services-content-title"><a href="">Налоговый консалтинг ＋</a></li>
        <li><a href="">Налоговые консультации</a></li>
        <li><a href="">Консультации по бухгалтерскому учету</a></li>
        <li><a href="">Бухгалтерский клуб</a></li>
        <li><a href="">Семинары</a></li>
        <li class="services-content-title"><a href="">Кадровый консалтинг ＋</a></li>
        <li><a href="">Кадровый аудит</a></li>
        <li><a href="">Подбор персонала</a></li>
        <li class="services-content-title"><a href="">Франчайзинг ＋</a></li>
        <li class="services-content-title"><a href="">Due Diligence ＋</a></li>
      </ul>
      <ul>
        <li class="services-content-title"><a href="">Юридические услуги ＋</a></li>
        <li><a href="">Юридические консультации</a></li>
        <li><a href="">Создание бизнеса</a></li>
        <li><a href="">Регистрация юридического лица</a></li>
        <li><a href="">Регистрация ФЛЛ</a></li>
        <li><a href="">Внесение изменений</a></li>
        <li><a href="">Регистрация торговой марки</a></li>
        <li><a href="">Реорганизация предприятия</a></li>
        <li><a href="">Ликвидация предприятия</a></li>
        <li><a href="">Ликвидация ФЛЛ</a></li>
        <li><a href="">Составление и правовой анализ договоров</a></li>
        <li><a href="">Представительство в суде</a></li>
      </ul>
    </div>
  </div>
</header>
<!-- /HEADER -->

