@import './../variables.scss';

.about-company-in-numbers-section {
        .section-title {margin-top: 40px}
}

.about-company-content{display: flex;flex-flow: row wrap;justify-content: space-around;position: relative;z-index: 12;
        &:hover{
                .about-company-block:nth-child(-n+2){position: relative;left: -30px}
                .about-company-block:nth-child(n+3){position: relative;left: 30px}
        }

        .about-company-block{width: 46%;height: 150px;margin: 1% 0;display: flex;flex-flow: row nowrap;align-items: center;
                .about-company-img{background: $dark-brown;display: inline-block;width: 150px;height: 100%;
                        object{width: 50px;height: 50px;position: relative;top: 50%;left: 50%;transform: translate(-50%, -50%)}
                }
                .about-company-info{background-color: $white;width: 75%;display: flex;flex-flow: column nowrap;padding: 5%;height: 100%;
                        .about-company-title{display: inline-block;color: $light-red;margin-bottom: 0;font-size: 14px}
                        .about-company-text{display: inline-block;font-size: 11px;font-weight: 700;line-height: 21px}
                }
        }
}

@media screen and (max-width: 1155px){
        .about-company-content{
                .about-company-block{height: 125px;
                        .about-company-img{width: 125px}
                }
        }
}

@media screen and (max-width: 666px){
        .about-company-content{flex-flow: column wrap;
                &:hover{
                        .about-company-block:nth-child(-n+2){left: 0}
                        .about-company-block:nth-child(n+3){left: 0}
                }
                .about-company-block{width: 100%;margin: 1% 0;
                        .about-company-info{width: 75%;padding: 5%}
                }
        }
}

@media screen and (max-width: 340px){
        .about-company-content{
                .about-company-block{
                        .about-company-info{padding: 2%}
                }
        }
}
