@import './../variables.scss';

.about-us-section{position: relative;
  .wrapper{max-width: 100%;margin: 0}
}
.about-us-bg{position: absolute;z-index: 5;height: 100%;max-width: 100%;width: 100%;top: 0;left: 0;
        img{height: 100%;width: 100%}
}
.about-us-content{position: relative;text-align: center;z-index: 10;margin: 0 auto;padding: 3% 0 5% 0;
        .section-title{margin: 40px 0}
        p{max-width: 1200px;width: 100%;line-height: 23px;margin: 0 auto;padding-bottom: 40px}
        .button{padding: 13px 62px}
}

@media screen and (max-width: 1440px){
        .about-us-content{
                p{max-width: 90%;line-height: 20px;font-size: 14px}
        }
}

@media screen and (max-width: 1024px){
        .about-us-content{padding: 1% 0 3% 0;
                .section-title{margin: 20px 0}
                p{font-size: 1.4vw}
        }
}

@media screen and (max-width: 666px){
        .about-us-content{
                .section-title{margin: 10px 0}
                p{font-size: 9px;line-height: 14px}
        }
}
