@import './../variables.scss';

.customers-section{background-image: url("../../images/customers-section-bg.png");background-repeat:no-repeat;background-position: 0 80%;background-color: $dark-white;background-size: 60%;z-index: 10;
        .section-title{margin: 40px 0 20px 0}
}

.customers-slider{display: inline-block;width: 100%;
        .slick-list{width: 101.1%;margin: 5% 0 1% 0;position: relative;
                .slick-track{width: 55%;left: 42.2%;z-index: 1000;
                }
        }
        .slider-item{display: flex;box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);font-family: Futara PT;margin: 2% 3%;max-width: 100%;height: 140px;
                .slider-item-img{border: 5px solid $yellow;box-sizing: border-box;
                        img{min-width: 100%;height: 100%;background: $white}
                }
                .slider-item-content{padding: 1% 5%;
                        .block-title{color: $black;font-size: 18px;line-height: 26px;text-transform: capitalize;margin-bottom: 0}
                        p{margin: 0 0 10px 0;font-size: 12px;line-height: 27px}
                }
        }
}

@media screen and (max-width: 1280px){
        .customers-section {background-position: -25% 80%;background-size: 70%}
        .customers-slider{
                .slick-list{margin: 3% 0 1% 0}
                .slider-item{height: 120px;
                        .slider-item-content{padding: 0 3% 1% 3%;
                                .block-title{font-size: 16px;line-height: 24px}
                                 p{font-size: 11px;line-height: 20px}
                        }
                }
        }
}

@media screen and (max-width: 1024px){
        .customers-section {background: $dark-white}
        .customers-slider{
                .slick-list{width: 101%;margin: 30px 0 1% 0;
                        .slick-track{width: 100%;left: 0}
                }
                .slider-item{margin: 2% 0;width: 99% !important}
        }
}

@media screen and (max-width: 522px){
        .customers-slider{
                .slider-item{
                        .slider-item-content{
                                .block-title{margin-top: 15px}
                        }
                }
        }
}

@media screen and (max-width: 435px){
        .customers-slider{
                .slider-item{height: 100px;
                        .slider-item-content{padding: 1%;
                                .block-title{margin-top: 2%}
                                .star{display: none}
                        }
                }
        }
}
