@import './../variables.scss';

.loans-content{
        .loans-content-block{display: flex;flex-flow: row nowrap;align-items: center;margin: 4% 0;
                &:nth-child(2n){flex-flow: row-reverse nowrap;
                        .loans-block-info{padding: 3% 3% 3% 1%}
                }
                .loans-block-img{width: 51%;transition: all 2s linear;
                        img{opacity: 0}
                        &.animated{
                                @keyframes scroll-line-animation {
                                        0%{width: 0}
                                        50%{width: 50%}
                                        100%{width: 100%}
                                }
                                @keyframes image-animation {
                                         0%{opacity: 0}
                                        50%{opacity: 0.5}
                                        100%{opacity: 1}
                                }
                                .scroll-line{height: 4px;background-color: $yellow;width: 0;animation: scroll-line-animation 2s linear}
                                img{animation: image-animation 2s linear both}
                         }
                }
                .loans-block-info{width: 49%;padding: 3% 1% 3% 3%;display: flex;flex-flow: column nowrap;justify-content: space-between;
                        .loans-block-number{color: $light-grey;font-size: 12px;line-height: 14px}
                        .block-title{text-transform: capitalize;font-weight: 300;font-size: 20px;line-height: 25px;margin-bottom: 2%;
                                &:after{content: '';display: block;border: 2px solid $yellow;width: 15%;margin-top: 4%}
                        }
                        .loans-block-text{width: 100%;font-size: 14px;line-height: 25px;padding: 0;margin-bottom: 6%;font-weight: normal}
                        .button{width: 44%;padding: 13px 0}
                }
        }
}

@media screen and (max-width: 1280px){
        .loans-content{
                .loans-content-block{
                        .loans-block-info{
                                .loans-block-number{font-size: 10px;line-height: 14px}
                                .block-title{line-height: 20px}
                                .loans-block-text{font-size: 11px;line-height: 24px}
                                .button{line-height: 23px}
                        }
                }
        }
}

@media screen and (max-width: 1155px){
        .loans-content{
                .loans-content-block{
                        .loans-block-info{
                                .block-title{font-size: 18px;line-height: 18px}
                                .loans-block-text{line-height: 20px}
                        }
                }
        }
}

@media screen and (max-width: 1024px){
        .loans-content{display: flex;flex-flow: row wrap;justify-content: space-between;
                .loans-content-block{width: 48%;flex-flow: column nowrap;margin: 0 0 4% 0;
                        &:nth-child(2n){flex-flow: column nowrap;
                        .loans-block-info{padding: 3% 0}
                        }
                        .loans-block-img{width: 100%}
                        .loans-block-info{width: 90%;margin: 0 auto;padding: 3% 0;
                                .block-title{font-size: 20px;line-height: 25px;margin-bottom: 2%}
                                .loans-block-text{font-size: 14px;line-height: 25px}
                        }
                }
        }
}

@media screen and (max-width: 767px){
        .loans-content{
                .loans-content-block{
                        .loans-block-info{
                                .button{width: 100%}
                        }
                }
        }
}

@media screen and (max-width: 666px){
        .loans-content{
                .loans-content-block{width: 100%}
        }
}
