@import './../variables.scss';

.services-and-solutions-section {background: $dark-white}

.services-and-solutions-slider{padding: 4% 0 2% 0;
        .slick-list{width: 101%}
        .slider-item{display: flex;flex-flow: column nowrap;justify-content: space-between;align-items: center;width: 20%;transition: all 0.3s linear;height: 480px;padding-bottom: 1%;margin: 0 1% 1% 0;
                &:hover{box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1)}
                &:hover > .button{opacity: 1}
                .slider-item-img{height: 50%;
                        img{height: 100%}
                }
                .slider-item-content{padding: 6% 10% 0 10%;position: relative;width: 100%;height: 45%;
                        .slider-item-title{color: $yellow;font-size: 17px}
                        .slider-item-link-list{
                                li{margin: 3% 0;
                                        a{font-size: 14px;color: $black}
                                }
                        }
                }
                .button{position: relative;opacity: 0}
        }
}
.services-and-solutions-all-solutions{text-align: center;
        .button{width: 250px}
}

@media screen and (max-width: 1366px){
        .services-and-solutions-slider {
                .slider-item {
                        .slider-item-content {
                                .slider-item-title {font-size: 15px}
                        }
                }
        }
}

@media screen and (max-width: 1155px){
        .services-and-solutions-slider {
                .slider-item {margin: 0 0.6% 1% 0;
                        .slider-item-content {padding: 6% 8% 0 8%;
                                .slider-item-title {font-size: 14px}
                        }
                        .button{visibility: visible}
                }
        }
}

@media screen and (max-width: 992px) {
        .services-and-solutions-slider {
                .slick-list {margin-top: 20px}
                .slider-item {height: 700px;
                        .slider-item-img{height: 44%;width: 100%;
                                img{width: 100%}
                        }
                .slider-item-content {
                        .slider-item-title {font-size: 17px}
                }
                .button{width: 84%;margin: 0 8%}
                }
        }
}

@media screen and (max-width: 666px){
        .services-and-solutions-slider {
                .slider-item {height: 500px;
                        .slider-item-content {height: 40%;
                                .slider-item-title{font-size: 14px}
                        }
                }
        }
}

@media screen and (max-width: 522px){
        .services-and-solutions-slider {
                .slider-item {height: 680px;margin-right: 0.2%;
                        .slider-item-content {padding: 2% 4% 0 4%;
                                .slider-item-title{font-size: 25px}
                                .slider-item-link-list {
                                        li {
                                                a {font-size: 18px}
                                        }
                                }
                        }
                        .button{width: 92%}
                }
        }
}
