@import './../variables.scss';

.top-section {height: 100vh;padding: 0;font-family: Futura PT;width: 100%;margin-left: 0;
           .top-section-wrapper {max-width: 100%;width: 89%;margin-left: 11%}
}
.top-section-slider{position: absolute;width: 100%;top: 0;right: 0;height: 100vh;
           .slick-next, .slick-prev{display: none !important}
           .slick-dots{bottom: 6%;display: flex;width: 50%;left: 11%;padding-left: 2.2%;top: auto;z-index: 1000;
                      li{
                                 button:before{color: $light-grey}
                      }
                      .slick-active{
                                 button:before{opacity: 1;color: $white}
                      }
           }
           .slick-list{height: 100%;width: 75.5%;right: 0;position: absolute;
                      .slick-track{height: 100%;background-color: black;}
           }
           .slider-item > img{object-fit: cover;height: 100%;min-width: 100%}
}
.desktop-main-menu{top: 0;padding: 0 1%;
           .main-menu{z-index: 100;position: relative;max-width: 1260px;margin: 0 auto;display: flex;flex-flow: row nowrap;justify-content: flex-end;
                      a{color: $white;font-size: 13px;line-height: 31px;text-transform: uppercase;margin: 5vh 0 0 3%;transition: all 0.3s ease;
                                 &:hover{text-decoration: none;color: $yellow}
                      }
           }
}
.top-section-content{z-index: 10;position: absolute;top: 0;height: 100%;max-width: 100%;width: 89%;display: flex;
           .top-section-propositions{background: $yellow;color: $black;padding: 4% 1% 10% 3%;width: 28.5%;height: 122vh;
                      .top-section-proposition-block{transition: 0.4s linear;
                      .propositions-title{font-size: 32px;line-height: 46px;margin: 20% 0 0 0}
                                 p{font-size: 14px;line-height: 20px;font-weight: normal;position: relative;color: $white;border-bottom: 1px solid transparent;padding-bottom: 3%;margin: 0;padding-right: 14%;
                                            span{position: absolute;right: 0;bottom: 0;display: flex;justify-content: center;align-items: center;height: 100%;color: $yellow;background-color: $white;width: 30px;background-image: url("../../images/top-section-proposition-arrow.png");background-repeat: no-repeat;background-position: center;padding: 0 3%;visibility: hidden}
                                 }
                                 &:hover p{border-bottom: 1px solid $white}
                                 &:hover span{visibility: visible}
                      }
           }
           .top-section-request{position: relative;margin: 0 auto;padding: 30vh 1% 0 1%;width: calc(1260px - 26.5%);display: flex;flex-flow: column;justify-content: space-between;
                      h1{color: $white;font-size: 55px;line-height: 75px;text-align: right;letter-spacing: 0.04em;text-transform: uppercase;font-weight: 800}
                      .request-form{text-align: right;height: 70%;
                                 input{background: $white;border: none;border-radius: 2px;opacity: 0.7;padding: 20px 12px;width: 30%;max-width: 250px;margin-right: 2%;
                                            &.error{background-color: $light-red}
                                 }
                                 p{color: $white;margin: 0;text-align: right;font-weight: normal;font-size: 12px;
                                            &.errorText{color: $light-red;display: none;margin: 0;font-weight: bold;font-size: 15px;
                                            &.active{display: block}
                                            }
                                 }
                      }
                      .slider-buttons{width: 100%;display: flex;justify-content: flex-end;align-items: flex-end;position: relative;bottom: 7%;
                                 .slider-prev, .slider-next{background: rgba(191, 187, 186, 0.5);position: absolute;width: 40px;height: 40px;z-index: 10;transition: all 0.2s ease-in;line-height: 0px;font-size: 0px;cursor: pointer;padding: 0;border: none;outline: none;
                                            &:hover{background: $yellow}
                                            &:before{display: inline-block;font-size: 20px;line-height: 1;color: #fff;opacity: 0.75;-webkit-font-smoothing: antialiased;background-position: center;background-repeat: no-repeat;content: '';width: 40px;height: 40px}
                                            &.slick-disabled{background: $light-grey;
                                                       &:before{opacity: 1}
                                             }
                                 }
                                 .slider-prev{right: 6%;left: auto;
                                            &:before{background-image: url(../../images/arrow-prev.png)}
                                  }
                                 .slider-next{right:0;
                                            &:before{background-image: url(../../images/arrow-next.png)}
                                  }
                      }
           }
}

@media screen and (max-width: 1280px){
           .top-section {
                      .top-section-wrapper {width: 86%;margin-left: 14%}
           }
           .top-section-slider{
                      .slick-dots{bottom: 6%;display: flex;width: 50%;left: 14%;padding-left: 2.2%}
                      .slick-list{height: 100%;width: 75.5%;right: 0;position: absolute;
                                 .slick-track{height: 100%;background-color: black;
                                            .slider-item > img{height: 100%;min-width: 100%}
                                 }
                      }
           }
           .top-section-content{width: 86%;
                      .top-section-propositions{width: 36%;
                                 .top-section-proposition-block{
                                            .propositions-title{font-size: 28px;line-height: 36px}
                                            p{font-size: 14px;line-height: 18px}
                                 }
                      }

                      .top-section-request{
                                 h1{font-size: 45px;line-height: 65px}
                                 .request-form{
                                            input{padding: 18px 12px;width: 25%;max-width: 200px;font-size: 13px}
                                            .button{padding: 9px 72px;font-size: 13px}
                                 }
                      }
           }
}

@media screen and (max-width: 1024px) {
           .top-section {height: 100%;
                      .top-section-wrapper {width: 100%;margin-left: 0}
           }
           .top-section-slider {height: 100%;
                      .slick-list{width: 100%}
                      .slick-dots {width: auto;left: 50%;transform: translateX(-50%);padding-left: 0;bottom: 20%}
           }
           .desktop-main-menu{
                      .main-menu{
                                 a{font-size: 10px;line-height: 21px;margin: 3vh 0 0 3%}
                      }
           }

           .top-section-content{position: relative;height: 100%;width: 100%;display: flex;flex-flow: column-reverse;
                      .top-section-propositions{padding: 3% 1%;width: 100%;height: auto;position: relative;display: flex;flex-flow: row nowrap;align-items: flex-start;
                                 .top-section-proposition-block{text-align: center;margin: 0 1%;
                                            .propositions-title{margin: 0}
                                            p{padding-right: 0}
                                            &:hover p{border-bottom: none}
                                            &:hover span{visibility: hidden}
                                 }
                      }
                      .top-section-request{padding: 10vh 1% 30vh 1%;width: 80%;
                                 .slider-buttons{position: absolute;bottom: 1%;
                                            .slider-prev{right: auto;left: 0}
                                            .slider-next{right:0}
                                 }
                      }
           }
}

@media screen and (max-width: 767px){
           .top-section-content{
                      .top-section-request{
                                 h1{font-size: 5.5vw;line-height: 7vw}
                                 .request-form{
                                            input{width: 30.6%}
                                            .button{width: 30%;padding: 9px 12px}
                                 }
                      }
           }
}

@media screen and (max-width: 666px){
           .top-section-slider {
                      .slick-dots {bottom: 5%}
           }
           .desktop-main-menu{
                      .main-menu{justify-content: center}
           }
           .top-section-content{
                      .top-section-propositions{display: none}
                      .top-section-request{max-width: 480px;margin: 0 auto;padding: 10vh 1% 15vh 1%;
                                 h1{font-size: 5vw;text-align: center;width: 80%;margin: 10px auto}
                                 .request-form{text-align: center;display: flex;flex-flow: row wrap;justify-content: space-between;
                                            input{width: 45%;margin: 0;
                                                       &:first-of-type{margin-right: 4px}
                                            }
                                            p{font-size: 10px;width: 100%;text-align: center}
                                            .button{margin-top: 20px;width: 100%}
                                 }
                                  .slider-buttons{
                                            .slider-next{right:3%}
                                  }
                      }
           }
}

@media screen and (max-width: 435px){
           .desktop-main-menu{
                      .main-menu{display: none}
           }
           .top-section-content{
                      .top-section-request{padding: 4vh 2% 8vh 2%;width: 96%;
                                 h1{font-size: 24px;width: 100%}
                                 .request-form{
                                            input{font-size: 12px}
                                            p{margin-top: 5px;line-height: 12px;font-size: 11px}
                                            .button{font-size: 18px}
                                 }
                                 .slider-buttons{
                                            .slider-next{right:4%}
                                 }
                      }
           }
}
