//= partials/head.html

<div class="global-wrapper">

    //= partials/header.html

    <!-- MAIN -->
    <div class="main">
      //= partials/index/top-section.html
      //= partials/index/about-company-in-numbers-section.html
      //= partials/index/services-and-solutions-section.html
      //= partials/index/loans-for-any-purpose-section.html
      //= partials/index/about-us-section.html
      //= partials/index/customers-section.html
    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>
